---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import VerticalSlider from "../components/VerticalSlider.astro";
---

<BaseLayout title="Chris Howell | Creative Designer & Director" bodyClass="home">
  <Hero />
  <VerticalSlider />

  <!-- Statement section -->
  <div class="border-t-1 border-black/20"></div>
  <section class="relative flex flex-col mt-64 s:mt-120 pb-64 s:pb-120">
    <div class="-container -grid">
      <div class="col-span-1 opacity-30 text-[0.65rem] uppercase tracking-widest hidden s:block" data-animation="paragraph">[SYS.OK]</div>
      <p class="col-span-full m:col-start-8 s:col-span-8 m:col-span-5 text-xl font-medium leading-tight text-justify cursor-default" data-animation="paragraph">
        Combining creativity and strategy to craft clear, purposeful design. Every detail considered. Every decision intentional. Work that communicates with
        confidence and resonates with restraint.
      </p>
    </div>
  </section>
</BaseLayout>
