---

---

<div class="border-t-1 border-black/20 mt-40 s:mt-80"></div>
<footer class="footer py-32 s:py-48">
  <div class="-container -grid font-medium text-sm">
    <div class="grid-span-full s:col-span-5 s:col-start-8" data-animation="paragraph">
      <p class="text-xl mb-40">Say hello</p>
    </div>
    <div class="col-span-full s:col-span-2 s:col-start-8" data-animation="paragraph">
      <span class="block"><a href="mailto:hello@chchch.au" class="hover-symbol-link">hello@chchch.au</a></span>
      <span class="block">Gold Coast, Australia</span>
    </div>
    <div class="col-span-full s:col-span-1 s:col-start-10" data-animation="paragraph">
      <span class="block"
        ><a class="hover-symbol-link w-max" href="https://www.linkedin.com/in/chrishowelldesigner/" target="_blank" rel="noopener noreferrer">LinkedIn</a></span
      >
      <span class="block"><a class="hover-symbol-link w-max" href="https://instagram.com/halfnine" target="_blank" rel="noopener noreferrer">Instagram</a></span
      >
    </div>
  </div>
</footer>
