---
---

<div class="border-t-1 border-black/20 mt-80"></div>
<footer class="footer py-48">
  <div class="-container -grid font-medium text-sm">
    <div class="col-span-full s:col-span-5 s:col-start-1" data-animation="paragraph">
      <p class="text-xl mb-40">Get in touch</p>
      <a href="mailto:hello@chchch.au">hello@chchch.au</a>
      <p>Gold Coast, Australia</p>
    </div>
    <div class="col-span-full mt-32 s:mt-0 s:col-span-2 s:col-start-15">
      <a
        class="block"
        href="mailto:hello@chchch.au"
        data-animation="paragraph"
      >Mail</a>
      <a
        class="block"
        href="https://www.linkedin.com/in/chrishowelldesigner/"
        target="_blank"
        rel="noopener noreferrer"
        data-animation="paragraph"
        data-animation-delay="0.04"
      >LinkedIn</a>
      <a
        class="block"
        href="https://instagram.com/halfnine"
        target="_blank"
        rel="noopener noreferrer"
        data-animation="paragraph"
        data-animation-delay="0.08"
      >Instagram</a>
    </div>
  </div>
</footer>
