---
export interface Props {
  currentPage?: string;
}

const { currentPage = "" } = Astro.props;
const isAboutPage = currentPage === "about";
---

<header class="header absolute s:fixed top-0 w-full py-20 z-50 border-b-1 border-black/20 bg-[#f7f7f7]">
  <nav class="-container">
    <div class="-grid">
      <div class="col-span-1 s:col-span-2">
        <!-- HEADER LOGO: The transition targets this element as the "Chris Howell" text fades out -->
        <a class="header__logo hover-symbol-link text-[0.925rem] s:text-base font-medium block w-max group" href="/" data-animation="paragraph">
          {/* LOGO HOVER: This scales the 'C' initial slightly on group hover (the link) */}
          <span class="inline-block transition-transform duration-300 group-hover:scale-110 group-hover:mr-1">C</span><span class="s:inline-block hidden"
            >hris Howell</span
          >
        </a>
      </div>
      <div class="col-span-1 s:col-start-4"></div>
      <div class="col-span-2 s:col-span-4 s:col-start-8">
        {
          !isAboutPage ? (
            <a
              class="header__link hover-symbol-link block text-[0.925rem] s:text-base w-max font-medium"
              href="/about"
              data-animation="paragraph"
              transition:name="home-about-back"
            >
              About
            </a>
          ) : (
            <span class="block text-[0.925rem] s:text-base w-max font-medium opacity-0 pointer-events-none">About</span>
          )
        }
      </div>
    </div>
  </nav>
</header>
