---
import AnimatedLogo from "./AnimatedLogo.astro";
export interface Props {
  currentPage?: string;
}

const { currentPage = "" } = Astro.props;
const isAboutPage = currentPage === "about";
---

<header class="header absolute s:fixed top-0 w-full py-20 z-50 pointer-events-none">
  <nav class="-container pointer-events-none">
    <div class="-grid pointer-events-none">
      <div class="col-span-1 s:col-span-2 pointer-events-none">
        {
          currentPage === "home" ? (
            <div class="header__logo block w-max pointer-events-auto cursor-default">
              <AnimatedLogo />
            </div>
          ) : (
            <a class="header__logo hover-symbol-link block w-max group pointer-events-auto" href="/">
              <AnimatedLogo />
            </a>
          )
        }
      </div>
      <div class="col-span-1 s:col-start-4 pointer-events-none"></div>
      <div class="col-span-2 s:col-span-4 s:col-start-8 pointer-events-none">
        {
          !isAboutPage ? (
            <a
              class="header__link hover-symbol-link block text-[0.925rem] s:text-base w-max font-medium pointer-events-auto"
              href="/about"
              data-animation="paragraph"
              transition:name="home-about-back"
            >
              About
            </a>
          ) : (
            <span class="block text-[0.925rem] s:text-base w-max font-medium opacity-0 pointer-events-none">About</span>
          )
        }
      </div>
    </div>
  </nav>
</header>
